<div class="modal fade" id="sign_in_modal" tabindex="-1" role="dialog" aria-labellebdy="signInModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content shadow">

      <div class="modal-header border-0 flex-column" >
        <div class="w-100">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" id="close-modal-cross">&times;</span>
          </button>
        </div>
        <div class="text-center w-100">
           <h5 class="modal-title my-3">LOG IN</h5>
        </div>
      </div>

      <div class="modal-body mx-5 px-4">
        <div class="modal-errors"></div>

        <%= form_for(:user, url: session_path(:user), html: { id: 'sign_in_user', :'data-type' => 'json' }, remote: true) do |f| %>

          <div class="form-group">

            <small class="form-text">Email</small>
            <%= f.email_field :email, class: "form-control modalInput" %>
          </div>

          <div class="form-group">
            <small  class="form-text">Password</small>
            <%= f.password_field :password, class: "form-control modalInput" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="loginCheck">
              <small  class="form-text">Remember me</small>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "LOG IN", class: "btn mt-1 w-100 text-light", id: 'modalSubmitButton' %>
          </div>
        <% end %>

        <div class="text-center flex-column border-0 mt-3">
          <div class="my-5">
            <%= link_to "or Sign up", "", data: { toggle: "modal", target: "#sign_up_modal", dismiss: "modal" }, class: "footer-link" %>
          </div>
          <div class="my-5">
            <%= link_to "Forgot your password?", "", data: { toggle: "modal", target: "#new_password_modal", dismiss: "modal" }, class: "footer-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- another two form version below -->
<%# <%= form_for(:user, :url => registration_path(:user), html: { class: 'mx-5 px-4' } ) do |f| %>

<%# <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<%#<%= form_for(User.new, url: session_path(:user), html:{ id: 'sign_in_user', :'data-type' => 'json', class: 'mx-5 px-4' }, remote: true) do |f| %>