<div class="d-flex justify-content-center">
  <div class="m-3 w-50">
        <h2>Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <small class="form-text">New password</small>
        <% if @minimum_password_length %>
          <small class="form-text">(<%= @minimum_password_length %> characters minimum)</small>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control modalInput" %>
      </div>

      <div class="form-group">
        <small class="form-text">Confirm new password</small>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control modalInput" %>
      </div>

      <div class="actions">
        <%= f.submit "CHANGE PASSWORD", class: "btn mt-1 w-100 text-light", id: 'modalSubmitButton' %>
      </div>
    <% end %>

    <%= render "/shared/devise_modals/footer_links" %>
  </div>

</div>
